$primary:                     #cea640;
$body-bg:                     #000;
$font-size-base:              1rem !default;
$font-family-sans-serif:     'Montserrat', sans-serif;
$headings-line-height:        1 !default;
$headings-font-weight:        400;
