#group-info {
  background: rgba($black, 0.6);
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  color: $white;
  margin-top: -150px;

  .group-about p {
    margin-bottom: 30px;
  }
  .group-songlist {
    background: rgba($white, 0.1);
    margin-top:40px;
    padding-top:15px;
    li {
      font-size:0.8rem;
      margin-bottom:5px;
      width:50%;
    }
  }
  .video-wrap {
    margin-top:50px;
    font-size:0.8rem;

    .video {
      margin-bottom: 20px;
    }
  }
  .contact-btn {
    margin-top: 40px;
    margin-bottom:40px;
  }
}

.no-photo {
  margin-top: 50px !important;
}


@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {
  #group-info {
    .group-songlist {
      margin-top:0px;
    }
  }
}
@include media-breakpoint-up(xl) {

}
