#group-info {
  background: rgba($black, 0.6);
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  color: $white;
  margin-top: 50px;

  .group-photo {
    margin-bottom: 30px;

    img {
      border:solid 20px rgba($black, 0.6);
    }
  }

  .group-about p {
    margin-bottom: 30px;
  }
  .group-songlist {
    background: rgba($white, 0.1);
    margin-top:40px;
    padding-top:15px;
    li {
      font-size:0.8rem;
      margin-bottom:5px;
      width:50%;
    }
  }
  .video-wrap {
    margin-top:50px;
    font-size:0.8rem;

    .video {
      margin-bottom: 20px;
    }
  }
  .contact-btn {
    margin-top: 40px;
    margin-bottom:40px;
  }
}

.no-photo {
  margin-top: 50px !important;
}

ul#group-social {
  margin-top:30px;
  margin-bottom:0;
  
  li img {
    max-height:40px;
  }
  li.list-inline-item:not(:last-child) {
    margin-right:1.25rem;
  }
  li.list-inline-item:nth-child(3) {
    margin-right:0rem;
  }
}

@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {
  #group-info {
    .group-songlist {
      margin-top:0px;
    }
  }
}
@include media-breakpoint-up(xl) {

}
